<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <title>Tech Blog</title>
  </head>
  <header>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Tech Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if loggedIn}}
            <li class="waves-effect waves-light btn"><a
                href="/dashboard"
              >dashboard</a></li>
            {{! <button id="logout" class="btn-no-style">logout</button> }}
            <button
              id="logout"
              class="waves-effect waves-light btn"
            >logout</button>

          {{else}}
            <li class="waves-effect waves-light btn"><a
                href="/dashboard"
              >dashboard</a></li>
            <li class="waves-effect waves-light btn"><a
                href="/login"
              >Login</a></li>
          {{/if}}
          {{! <li><a href="collapsible.html">JavaScript</a></li> }}
        </ul>
      </div>
    </nav>

  </header>
  <body>
    {{{body}}}
  </body>
</html>